@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}


.logo {
    width: 200px;
}


.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.home-grid img {
    width: 100%;
}

.home-title {
    color: #d6dce0;
    font-family: 'Patrick Hand', 'Raleway', 'Roboto', 'sans-serif'; 
    font-size: 3em;
    margin-top: 50px;
}

#hero {
     background-image: url("../images/hero.png");
     background-size: cover;
     height: 400px;
}

#hero-box {
    grid-column:  1/3;
    grid-row: 1/3;
    z-index: -1;
    
}

#hero-img {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 65%;
  
}

#hero-msg {
    grid-column: 1/3;
    grid-row: 1/3;
    margin-top: 40px;
    padding-top: 40px;
}

#hero-msg h1 {
    text-align: center;
    color: white;
    font-size: 5em;
}

#main-box {
    background-color: #BAB7B7;
    line-height: 1.5em;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 5px 5px 10px #6f7364;
}

h1 {
    font-family: 'Patrick Hand','Raleway', 'sans-serif';
}
.reunion-info  {
    font-family: 'Patrick Hand', 'Raleway', 'sans-serif';
    font-size: 3em;
    color: black;
    text-align: center;
    }
    

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:rgba(19,77,91, .7);
}


footer {
    background-color:rgba(19,77,91, .7);
    color: white;
    padding: 25px 50px;
    display: flex;
    align-items: center;
}

footer p {
    margin-right: 30px;
    font-size: 25px;
}

footer a {
    color: white;
    margin-left: 150px;
    font-size: 25px;

}

footer a:hover {
    background-color: #aaafb3;
}


/* new css second page - prices and dates */


#hero-msg2 h1 {
    font-size: 4.5em;
    text-align: center;
    color: #134d5b;;
}

#main-box2 {
    height: 500px;
    background-color: #BAB7B7;
    line-height: 1.5em;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 5px 5px 10px #6f7364;
}

#main-box2 h2 {
    color: #134d5b;
    font-size: 2.5em;
}

.itinerary_info h2 {
    font-size: 40px;
}

#background {
    height: 675px;
    background-color: #b8c4c2; 
    grid-column: 1/11;
    grid-row: 4/9;
}

.menu-info h2 {
    font-family: 'Patrick Hand', 'Raleway', 'sans-serif';
    font-size: 3em;
    color: black;
    text-align: center;
    padding: 30px;
}
.dinner-info h4 {
    padding: 30px;
    font-size: 20px;
    color: black;
}

.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    justify-items: center;
}

.grid-gap-130 {
    grid-gap: 130px;
}

.food-grid li {
    font-size: 30px;
}


.card-img1 {
    width: 100%;
    margin-top: 75px;
}
.card-img2 {
    width: 100%;
    margin-top: 75px;
}

.menu-list  {
    font-size: 30px;
}

#sign-up-container {
    font-size: 24px;
    text-align: center;
    margin-top: 82px;
}

.margin-top-125 {
    margin-top: 125px;
}








/* Style the list */

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


ul.breadcrumb {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    list-style: none;
    margin-left: 75px;
    align-items: flex-end;
    
}


  /* Display list items side by side */
  ul.breadcrumb li {
    align-items: flex-end;
    font-size: 30px;
    
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 15px;
    color: white;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #aaafb3;
    text-decoration: underline;
  }
  